{% macro render_author_gravatar(post, skip_gravatar=false) %}
  {% if not skip_gravatar %}
    {# only display gravatar for first author so layout is not broken #}
    {% set author = post.author[0] %}
    {% set current_author = post.parent.parent.children.get('authors').children.get(author) %}
    <header role="banner">
      <figure class="image blog-image">
        {% if post.author|length >= 2 %}
          <img class="profile" src="/multiple-authors.jpg" alt="multiple authors image" />
        {% else %}
          <img class="profile" src="https://secure.gravatar.com/avatar/{{ current_author.md5_hashed_email }}?size=200&d=mp" alt="author's gravatar" />
        {% endif %}
      </figure>
    </header>
  {% endif %}
{% endmacro %}