{% from "macros/authors_byline.html" import render_authors_byline %}
{% from "macros/authors_gravatar.html" import render_author_gravatar %}

{% macro render_post_summary(post, skip_gravatar=false) %}
  <li>
    <article class="post">
      <header>
        <h3 class="title"><a href="{{ post|url }}">{{ post.title }}</a></h3>
          <span class="byline"> {{ render_authors_byline(post) }} </span>
            <span class="categories">
              {% if post.categories %}
              {% for category in post.categories %}
                <a href="/blog/categories/{{ category|replace(' ', '-') }}">{{ category|capitalize }}</a>
              {% if not loop.last %}, {% endif %}
              {% endfor %}
              {% else %}
              <span>No categories</span>
              {% endif %}
            </span>
        <!-- TODO: add excerpt back in -->
        <!--
        <div class="excerpt">
          {% if post.excerpt %}
            {{ post.excerpt }}
          {% else %}
            {{ post.body | excerpt | string | striptags() | truncate(100) }}
          {% endif %}
        </div>
        -->
      </header>

      <figure>
        {{ render_author_gravatar(post, skip_gravatar) }}
      </figure>
   </article>
 </li>
{% endmacro %}

{% macro render_posts(posts) %}
  <ul>
    {% for post in posts %}
      {% set post_loop = loop %}
        {{ render_post_summary(post) }}
    {% endfor %}
  </ul>
{% endmacro %}
