{% from "macros/authors_byline.html" import render_authors_byline %}
{% from "macros/authors_gravatar.html" import render_author_gravatar %}

{% macro render_post_summary(post, skip_gravatar=false) %}
  <div class="column is-one-third is-paddingless padding-horizontal-big padding-top-bigger">
    <article class="card entry-post horizontal no-border blog-entry">
      {% if post.author|length >= 2 %}
        <header>
          <figure class="image blog-image">
            <img class="profile" src="https://github.com/creativecommons/creativecommons.github.io-source/blob/main/content/multiple-authors.jpg?raw=true" alt="multiple authors image"/>
          </figure>
        </header>
      {% else %}
        <header>
          {{ render_author_gravatar(post, skip_gravatar) }}
        </header>
      {% endif %}
      <div class="blog-content">
        <h4 class="b-header"><a class="blog-title" href="{{ post|url }}">{{ post.title }}</a></h4>
        {{ render_authors_byline(post) }}
        <div class="excerpt">
          {{ post.body | excerpt | string | striptags() | truncate(100) }}
        </div>
      </div>
    </article>
  </div>
{% endmacro %}

{% macro render_posts(posts) %}
  <div class="columns is-multiline blog-entries">
    {% for post in posts %}
      {% set post_loop = loop %}
        {{ render_post_summary(post) }}
    {% endfor %}
  </div>
{% endmacro %}
