
// All Authors page
.all-authors {
    .authors-list {
      @extend .padding-bottom-xxl;
  
      background-color: $color-lighter-gray;
      .container {
        @extend .padding-horizontal-big;
      }
    }
  
    .author {
      @extend .padding-big;
  
      .image {
        height: 3.75rem;
        width: 3.75rem;
      }
  
      .mobile {
        display: none;
      }
  
      .desktop {
        display: inline;
      }
  
      @media only screen and (max-width: 768px) {
        .mobile {
          display: inline;
        }
        .desktop {
          display: none;
        }
      }
  
      .author-name {
        @extend .padding-top-small;
  
        .link {
          @extend .has-color-dark-slate-gray;
        }
      }
    }
  }
  
