@import "../node_modules/@creativecommons/vocabulary/scss/vocabulary.scss";

// Links
a {
  color: $color-forest-green;
  text-decoration: none;
}

// Code
code {
  color: $color-dark-slate-gray;
  background-color: $color-lighter-gray;
  border: 0.0625rem solid $color-light-gray;
  border-radius: 0.25rem;
}

.content {
  @extend .body-big;

  line-height: 1.6875;
}

// Navbar
.navbar-item {
  &.has-dropdown {
    .navbar-dropdown {
      display: none;
    }
    &.is-active {
      .navbar-dropdown {
        display: block;
      }
    }
  }
}

// Breadcrumb
.breadcrumb-container {
  border-top: 4px solid $color-forest-green;
  background-color: $color-lighter-gray;

  .breadcrumb {
    @extend .padding-horizontal-big;
    @extend .padding-vertical-bigger;

    .link {
      @extend .has-color-forest-green;
    }
  }
}

// Hero section - Home page
.hero {
  @extend .margin-top-large;

  .hero-title {
    @extend .padding-horizontal-big;
  }

  .hero-description {
    @extend .body-bigger;
    @extend .padding-top-big;
    @extend .padding-horizontal-big;
  }

  .hero-links {
    @extend .margin-vertical-normal;
    @extend .padding-horizontal-big;

    .button {
      @extend .margin-top-normal;
      text-decoration: none;

      .icon {
        @extend .margin-right-small;
        @extend .padding-vertical-smaller;
      }
    }
  }

  .hero-image {
    @include from($fullhd) {
      margin-top: -20rem;
      .image {
        width: 50%;
      }
    }
    @include until($fullhd) {
      .image {
        width: 100%;
      }
    }
  }
}

// Get-involved section - Home page
.get-involved {
  background-color: $color-lighter-gray;
  @extend .has-color-dark-slate-gray;
  border-bottom: solid 0.1875rem $color-white;

  .container {
    @extend .padding-horizontal-big;
    @extend .padding-vertical-xxl;
  }

  .get-involved-description {
    @extend .body-bigger;
    @extend .padding-top-normal;
  }

  .get-involved-links {
    @extend .padding-top-xl;

    .heading {
      @extend .b-header;
      @extend .padding-top-bigger;
    }

    .list {
      @extend .padding-top-normal;

      .link-heading {
        @extend .b-header;
        @extend .padding-top-big;

        :hover {
          @extend .has-color-forest-green;
        }
      }

      .link-caption {
        @extend .body-normal;
        @extend .padding-top-smaller;
      }

    }
  }
}

// Recent-posts section - Home page
.recent-posts {
  background-color: rgba(4, 166, 53, 0.1);

  .container {
    @extend .padding-vertical-xl;
    @extend .padding-horizontal-big;

    .columns {
      @extend .padding-top-bigger;
      @extend .padding-bottom-xl;
    }
  }

  .posts-link {
    @extend .has-color-forest-green;
    @extend .body-normal;

    font-weight: bold;
    line-height: 1.5;
    text-decoration: none;

    .icon {
      @extend .has-color-forest-green;
      @extend .padding-left-small;
    }
  }
}

// Featured-projects section - Home page
.featured-projects {
  @extend .padding-vertical-xxl;

  .container {
    @extend .padding-horizontal-big;
  }

  .project-page-link {
    @extend .has-color-forest-green;
    @extend .body-normal;

    line-height: 1.5rem;
    font-weight: bold;
    text-decoration: none;

    .icon {
      @extend .padding-left-small;
      @extend .padding-top-smaller;
    }
  }

  .project-list {
    @extend .padding-top-bigger;
    @extend .padding-bottom-larger;

    .column {
      @extend .padding-right-larger;
      @extend .padding-bottom-larger;

      height: 100%;
    }
  }
}

.blog-entries {
  .column {
    border-bottom: 0.1875rem solid $color-light-gray;
  }

  .blog-entry {
    @extend .padding-vertical-larger;
    @extend .padding-horizontal-big;

    .blog-title {
      @extend .has-color-dark-slate-gray;
    }
  }
}

// Common Title section
.title {
  background-color: $color-lighter-gray;

  .container {
    @extend .padding-horizontal-big;
    @extend .padding-bottom-xl;

    word-wrap: break-word;

    .description {
      @extend .body-bigger;
      @extend .padding-top-normal;

      line-height: 1.8125;
    }
  }
}

// Blog page
.blog-page {
  .blog-page-posts {
    @extend .padding-top-normal;

    .pagination-wrapper {
      @extend .padding-top-normal;
      @extend .padding-bottom-xxl;
    }
  }
}

// Single Post page
.single-post {
  @include from($desktop) {
    .container {
      padding-left: 6rem;
      padding-right: 6rem;
    }
  }

  @include until($desktop) {
    .container {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }

  .single-post-header {
    background-color: $color-lighter-gray;

    .title {
      @extend .padding-top-big;

      overflow-wrap: break-word;
    }

    .author {
      @extend .padding-top-big;
      @extend .padding-bottom-normal;
      @extend .body-big;

      line-height: 1.8125;

      .image {
        height: 3.75rem;
        width: 3.75rem;
      }
    }

    .series-header {
      @extend .margin-top-normal;
      @extend .padding-horizontal-big;
      @extend .padding-vertical-normal;
      @extend .body-normal;

      background-color: $color-white;
      line-height: 1.5625;
      font-weight: bold;
    }
  }

  .single-post-body {
    @extend .padding-top-bigger;
    @extend .has-text-dark-slate-gray;

    &:last-of-type::after {
      content: '';

      display: block;

      @extend .padding-top-bigger;
      border-bottom: 0.1875rem solid $color-light-gray;
    }
}

  .single-post-footer {
    .category {
      .category-title {
        @extend .b-header;
        @extend .padding-top-big;
      }

      .categories {
        @extend .padding-top-small;

        .tag {
          @extend .margin-top-small;
          @extend .margin-right-small;
        }
      }
    }

    .series-posts {
      @extend .margin-top-large;
      @extend .padding-horizontal-larger;
      @extend .padding-vertical-large;

      background-color: $color-lighter-gray;
      border-top: 0.375rem solid $color-forest-green;

      .title {
        @extend .b-header;
        @extend .padding-bottom-normal;
      }

      .posts {
        @extend .body-normal;

        font-weight: bold;
        line-height: 1.5;
        overflow-wrap: break-word;

        .icon {
          @extend .padding-right-small;

          font-size: 0.375rem;
          color: $color-gray;
        }
      }
    }
  }

  .comments {
    @extend .padding-top-large;
    @extend .padding-bottom-xxl;
  }
}

// Author Post page
.author-posts {
  .title {
    .container {
      .image {
        width: 9.5rem;
        height: 9.5rem;
      }

      .about {
        @extend .body-big;
        @extend .padding-top-big;

        line-height: 1.8125;
      }

      .button {
        @extend .margin-top-bigger;
      }
    }
  }

  .posts {
    @extend .padding-top-xl;
    @extend .padding-bottom-xxl;
  }
}

// Series page
.all-series {
  .series-list {
    @extend .padding-horizontal-big;
    @extend .padding-top-xl;
    @extend .padding-bottom-xxl;

    .series-link {
      .link {
        @extend .has-color-dark-slate-gray;
      }

      @extend .padding-bottom-big;

      &:not(:last-of-type)::after {
        @extend .padding-top-big;

        display: block;

        content: '';

        border-bottom:  0.1875rem solid $color-light-gray;
      }
    }
  }
}

// Categories page
.all-categories {
  .categories-list {
    @extend .padding-horizontal-big;
    @extend .padding-top-xl;
    @extend .padding-bottom-xxl;
  }
}

// All Authors page
.all-authors {
  .authors-list {
    @extend .padding-horizontal-big;
    @extend .padding-top-xl;
    @extend .padding-bottom-xxl;
  }

  .author {
    @extend .padding-big;

    .image {
      height: 3.75rem;
      width: 3.75rem;
    }

    .mobile {
      display: none;
    }

    .desktop {
      display: inline;
    }

    @media only screen and (max-width: 768px) {
      .mobile {
        display: inline;
      }
      .desktop {
        display: none;
      }
    }

    .author-name {
      @extend .padding-top-small;

      .link {
        @extend .has-color-dark-slate-gray;
      }
    }
  }
}

// Guidelines page
.code-guidelines {
  .code-guidelines-body {
    @extend .padding-horizontal-big;

    .link {
      @extend .has-color-forest-green;
    }
    .is-active {
      @extend .has-color-dark-slate-gray;
    }

    .row {
      @extend .padding-top-larger;
    }

    .content {
      @extend .padding-bottom-xxl;
      @extend .padding-top-xl;
    }
  }
}

// Project List page
.project-list {
  .body {
    @extend .padding-horizontal-big;
    @extend .body-big;
    @extend .padding-top-larger;
    @extend .padding-bottom-xxl;

    line-height: 1.8125;

    .featured-projects {
      @extend .padding-vertical-larger;

      .columns {
        @extend .padding-bottom-smaller;
      }
    }

    .table {
      @extend .margin-top-normal;
      @extend .margin-bottom-xxl;
    }
  }
}

// CC Search Guidelines page
.cc-search-guide {
  .body {
    @extend .padding-horizontal-big;
    @extend .padding-top-xl;
    @extend .padding-bottom-xxl;

    .content {
      h3 {
        margin-top: 0rem;
      }
    }
  }
}

// Project Ideas page
.project-ideas {
  .title {
    .container {
      .filter-labels {
        @extend .padding-top-xl;

        .button {
          @extend .margin-right-normal;
          @extend .margin-bottom-normal;
        }
      }

      .project-ideas {
        @extend .padding-top-normal;

        .column {
          @extend .padding-right-big;
          @extend .padding-bottom-big;
        }

        .card {
          height: 100%;
        }
      }
    }
  }

  .body {
    @extend .padding-top-larger;
    @extend .padding-bottom-xxl;
    @extend .padding-horizontal-big;

    .project-idea {
      @extend .padding-bottom-xl;

      .column {
        @extend .padding-top-normal;
      }

      &::after {
        @extend .padding-top-big;

        display: block;

        content: '';

        border-bottom:  0.1875rem solid $color-light-gray;
      }
    }

    .original-idea {
      .label {
        @extend .has-color-dark-slate-gray;
      }
    }

    .back-to-list {
      @extend .has-color-dark-turquoise;
      @extend .caption;

      text-decoration: none;

      .icon {
        @extend .padding-right-small;
      }
    }
  }
}

// CC Search Roadmap
.cc-search-roadmap {
  .body {
    @extend .padding-horizontal-big;
    @extend .padding-top-xl;
    @extend .padding-bottom-xxl;
  }
}

// Sticky utility function
.sticky-top {
  position: sticky;
  top: 0;
}
