@import "../node_modules/@creativecommons/vocabulary/css/vocabulary.css";
@import "../node_modules/@creativecommons/vocabulary/scss/spacing.scss";
@import "../node_modules/@creativecommons/vocabulary/scss/color.scss";
@import "../node_modules/@creativecommons/vocabulary/scss/typography.scss";

//Color Variables
$pumpkin: #e15803;
$orange: #FB7928;
$candy: #EE5B32;
$jet-black: #333333;
$grey: rgba(255, 255, 255, 0.6);
$blue: #00b5da;
$white: #ffffff;

//Color Configs
$brand-theme: $candy;
$brand-theme-dark: $pumpkin;
$brand-theme-light: $orange;

$text-color: $jet-black;
$project-card-theme: $blue;

.navbar-item {
  &.has-dropdown {
    .navbar-dropdown {
      display: none;
    }
    &.is-active {
      .navbar-dropdown {
        display: block;
      }
    }
  }
}

.hero {
  @extend .margin-top-large;

  .hero-description {
    @extend .body-bigger;
    @extend .padding-top-big;
  }

  .hero-links {
    @extend .margin-top-normal;

    .button {
      @extend .margin-top-normal;
      text-decoration: none;

      .icon {
        @extend .margin-right-small;
        @extend .padding-vertical-smaller;
      }
    }
  }
}

.get-involved {
  background-color: $color-lighter-gray;

  .container {
    @extend .padding-vertical-xxl;
  }

  .get-involved-description {
    @extend .body-bigger;
    @extend .padding-top-normal;
  }

  .get-involved-links {
    @extend .padding-top-xl;

    .heading {
      @extend .b-header;
      @extend .padding-top-bigger;
    }

    .list {
      @extend .padding-top-normal;

      .link-heading {
        @extend .b-header;
        @extend .padding-top-big;
      }

      .link-caption {
        @extend .body-normal;
        @extend .padding-top-smaller;
      }

    }
  }
}

.card-columns {
  column-count: 2;
}

@mixin large-border-style {
  background-color: $white;
  padding-left: 0px;
}

.featured-project-card {
  @include large-border-style();
  border: {
    left-color: $project-card-theme !important;
    left-width: 10px;
  }
  min-width: 20rem;
  max-width: 20rem;
}

.get-involved-card {
  min-width: 16rem;
  max-width: 20rem;
  border: 0;
  padding: 0.5rem 0rem;
}

.project-idea-header {
  @include large-border-style();
  border: {
    bottom-color: $project-card-theme !important;
    bottom-width: 10px;
  }
  font-size: 1.5em;
}

.badge-featured-project {
  background-color: $project-card-theme;
  color: $white;
  font-size: 0.8rem;
}

.toc-card {
  width: 14rem;
  margin-bottom: 1rem;
  float: right;
  margin: 1rem;
}

.toc {
  margin-bottom: 0;
}

img {
  max-width: 100%;
}

.github-corner:hover .octo-arm{
  animation:octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave{
  0%,100%{
    transform:rotate(0)
  }
  20%,60%{
    transform:rotate(-25deg)
  }
  40%,80%{
    transform:rotate(10deg)
  }
}

@media (max-width:500px){
  .github-corner:hover .octo-arm{
    animation:none
  }
  .github-corner .octo-arm{
    animation:octocat-wave 560ms ease-in-out
  }
}
