@import "../node_modules/@creativecommons/vocabulary/css/vocabulary.css";
@import "../node_modules/@creativecommons/vocabulary/scss/spacing.scss";
@import "../node_modules/@creativecommons/vocabulary/scss/color.scss";
@import "../node_modules/@creativecommons/vocabulary/scss/typography.scss";

a {
  @extend .has-color-forest-green;

  text-decoration: none;
}

.navbar-item {
  &.has-dropdown {
    .navbar-dropdown {
      display: none;
    }
    &.is-active {
      .navbar-dropdown {
        display: block;
      }
    }
  }
}

.blog-entry {
  @extend  .padding-big;

  .blog-title {
    @extend .has-color-dark-slate-gray;
  }
}

.blog-page {
  .blog-page-header {
    @extend .padding-top-bigger;
    @extend .padding-bottom-xl;

    background-color: $color-lighter-gray;

    .blog-page-description {
      @extend .padding-top-normal;
      @extend .body-big;
    }
  }

  .blog-page-posts {
    @extend .padding-vertical-xl;
  }
}
