
// CC Search Guidelines page
.cc-search-guide {
    .body {
      @extend .padding-horizontal-big;
      @extend .padding-top-xl;
      @extend .padding-bottom-xxl;
  
      .content {
        h2 {
          @extend .is-marginless;
          @extend .padding-bottom-small;
        }
        h4 {
          @extend .b-header;
          @extend .is-marginless;
          @extend .padding-bottom-small;
  
          color: $color-gray;
        }
        h5 {
          @extend .is-marginless;
          @extend .b-header;
          @extend .padding-bottom-big;
        }
      }
    }
  }
  
