<section class="has-background-grey-lighter">
  <div class="container padding-vertical-xxl">
    <div class="column is-9 is-paddingless">
      {{ this.title }}
    </div>

    <div class="columns margin-top-xl">
      <div class="column is-one-third">
        {{ this.links_product }}
      </div>
      <div class="column is-one-third">
        {{ this.links_integrate }}
      </div>
      <div class="column is-one-third">
        {{ this.links_plugins }}
      </div>
    </div>
  </div>
</section>