{% from "macros/author_name.html" import render_author_name %}

{% macro render_posts(posts) %}
  <ul class="blog-index list-unstyled">
    {% for post in posts %}
      {% set author = post.parent.parent.children.get('authors').children.get(post.author) %}
      <li>
        <a href="{{ post|url }}">{{ post.title }}</a>
      {% if post.series|length %}
    <p class="meta my-0"><span class="mr-2"><strong>This blog is part of the series :</strong></span>
       <a class="badge badge-secondary" href="/blog/series/{{post.series}}/">{{ post.series }}</a>
    </p>
  {% endif %}
        <p class="text-muted small">by <a href="{{ author|url }}">{{ render_author_name(author) }}</a>
          on {{ post.pub_date|dateformat("YYYY-MM-dd") }}</p>
      </li>
    {% endfor %}
  </ul>
{% endmacro %}
