{% extends "layout.html" %}

{% from "macros/posts.html" import render_posts %}
{% from "macros/author_name.html" import render_author_name %}

{% block title %}{{ render_author_name(this) + ' - ' + this.parent.parent.children.get('entries').title  }}{% endblock %}
{% block header %}{{ this.parent.parent.children.get('entries').title }}{% endblock %}
{% block body %}
  <h2>{{ render_author_name(this) }}</h2>
  {% if this.about %}
    {% if this.email %}
      <img src="{{ this.email|gravatar }}size=120" alt="gravatar" style="float:right;" class="p-2" />
    {% endif %}
    {{ this.about }}
  {% endif %}
  <h3>Posts</h3>
    {{ render_posts(this.children) }}
  <hr/>
  <p class="text-muted"><strong><a href="{{ this.parent|url }}">All Authors</a></strong></p>
{% endblock %}
