{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
  <p>This is a list of all CC Community Teams members, and their roles and privileges.</p>
  <p>For more information about CC Community Teams, please see <a href="/content/community/community-teams/">the Community Teams Page</a>.</p>
  <h2>Community Teams Members</h2>
    <p>We are actively looking for help with these projects and each project has open GitHub issues that are ready for external contribution.</p>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Team Member Name</th>
          <th scope="col">Roles</th>
        </tr>
      </thead>
      <tbody>
        {% for member in bag('communityteams_members.team_members') %}
        <tr>
          <td scope="row">{{ member.name }}</td>
          <td scope="row">
            {% for role in member.projects %}
              <p>{{ role }}</p>
            {% endfor %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}
