<!doctype html>
<meta charset="utf-8">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
<link rel="stylesheet" href="{{ '/static/style.css'|url }}">
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ '/static/script.js'|url }}"></script>
<title>{% block title %}Welcome{% endblock %} — Creative Commons on GitHub</title>
<body>
  <header class="main-header">
    <div class="container-fluid">
      <div class="row justify-content-md-center">
        <div class="col-9">
          <nav class="navbar navbar-expand-md navbar-dark">
            {% set cc_logo = site.get('/').attachments.get('cclogo.svg') %}
            <a class="navbar-brand" href="#">
              <img src="{{ cc_logo|url }}">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav">
                <li class="nav-item{% if this._path == '/' %} active{% endif
                          %}"><a class="nav-link" href="{{ '/'|url }}">Home</a></li>
                {% for href, title in [
                  ['/projects', 'Projects'],
                  ['/community', 'Community'],
                ] %}
                  <li class="nav-item{% if this.is_child_of(href) %} active{% endif%}">
                    <a class="nav-link" href="{{ href|url }}">{{ title }}</a>
                  </li>
                {% endfor %}
                <li class="nav-item dropdown {% if this.is_child_of('/gsoc-2019') %} active{% endif%}">
                  <a class="nav-link" href="/gsoc-2019/" id="navbarDropdown" role="button">GSoC 2019</a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for href, title in [
                      ['/gsoc-2019/project-ideas/all', 'Project Ideas'],
                      ['/gsoc-2019/application-instructions', 'Application Instructions'],
                    ] %}
                      <a class="dropdown-item" href="{{ href|url }}">{{ title }}</a>
                    {% endfor %}
                  </div>
                </li>
              </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <div class="container-fluid page-content">
    <div class="row justify-content-md-center">
      <div class="col-9 content-wrap">
        <div class="page py-3">
          <h2 class="pb-2"><strong>{% block header %}{{ this.title }}{% endblock %}</strong></h2>
          {% block body %}{% endblock %}
        </div>
      </div>
    </div>
  </div>
  <footer class="main-footer bg-dark">
    <div class="container-fluid">
      <div class="row justify-content-md-center">
        <div class="col-9 footer text-light py-4 px-3">
          <small>
            <p><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License"
                  style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a></p>
            <p class="text-muted">All the content on this website is licensed under a <strong><a rel="license"
                  href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International
                  License</a></strong> unless otherwise specified.</p>
          </small>
        </div>
      </div>
    </div>
  </footer>
</body>
