{% extends "layout.html" %}
{% block title %}Open Source Internships: Project Ideas{% endblock %}

{% block header %}Open Source Internships: Project Ideas{% endblock %}
{% block body %}

  <p class="lead">This is the project idea list for the <strong><a href="/internships">current round of open source internships at Creative Commons</a></strong>.</p>
  <hr/>
  <!-- We display all ideas by default. -->
  {% set ideas = site.query('/internships/project-ideas-collection').include_undiscoverable(true) %}
  <div class="mt-4">
    <div>
      <button type="button" class="m-1 btn btn-sm btn-dark filter-btn" data-filter="all">
        All Projects
      </button>
      <button type="button" class="m-1 btn btn-sm btn-primary filter-btn" data-filter="difficulty-easy">
        Difficulty: Easy
      </button>
      <button type="button" class="m-1 btn btn-sm btn-primary filter-btn" data-filter="difficulty-medium">
        Difficulty: Medium
      </button>
      <button type="button" class="m-1 btn btn-sm btn-primary filter-btn" data-filter="difficulty-hard">
        Difficulty: Hard
      </button>
      <button type="button" class="m-1 btn btn-sm btn-primary filter-btn" data-filter="skill-javascript">
        Skill: JavaScript
      </button>
      <button type="button" class="m-1 btn btn-sm btn-primary filter-btn" data-filter="skill-python">
        Skill: Python
      </button>
      <button type="button" class="m-1 btn btn-sm btn-primary filter-btn" data-filter="skill-wordpress">
        Skill: WordPress
      </button>
      <button type="button" class="m-1 btn btn-sm btn-primary filter-btn" data-filter="skill-writing">
        Skill: Writing
      </button>
      <ul class="list-unstyled m-3">
      {% for idea in ideas %}
        <li class="my-2 filter filter-label {{ idea.filter_value }}"><a href="#{{ idea._slug }}">{{ idea.title }}</a></li>
      {% endfor %}
        <li class="my-2"><a href="#original-ideas">Original Ideas</a></li>
      </ul>
    </div>
    <hr/>
    {% for idea in ideas %}
      <div class="project-idea-card m-1 mb-4 filter filter-block {{ idea.filter_value }}">
        <h2 class="card-header project-idea-header"><a name="{{ idea._slug }}">{{ idea.title }}</a></h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong>The Problem:</strong> {{ idea.problem }}</li>
          <li class="list-group-item"><strong>Expected Outcome:</strong> {{ idea.expected_outcome }}</li>
          <li class="list-group-item"><strong>Internship Tasks:</strong> {{ idea.internship_tasks }}</li>
          <li class="list-group-item"><strong>Application Tips:</strong> {{ idea.application_tips }}</li>
          <li class="list-group-item"><strong>Resources:</strong> {{ idea.resources }}</li>
          <li class="list-group-item"><strong>Skills recommended:</strong> {{ idea.skills_recommended }}</li>
          <li class="list-group-item"><strong>Mentors:</strong> {{ idea.mentors }}</li>
          <li class="list-group-item"><strong>Difficulty:</strong> {{ idea.difficulty }}</li>
        </ul>
      </div>
    {% endfor %}
    <div class="project-idea-card m-1 mb-4">
      <h2 class="card-header project-idea-header"><a name="original-ideas">Original Ideas</a></h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <p>We are open to original ideas for either new features or improvements to our existing projects or new CC-related plugins for third-party software.</p>
          <p>Please talk to us on the <code>#cc-gsoc-outreachy</code> channel on Slack or via the mailing list to find a mentor for the project before submitting your proposal.</p>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
