{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}

{% block body %}
  <h1>Google Summer of Code 2019 Project Ideas</h1>
  {% set ideas = site.query('/project-ideas-page/project-ideas').include_undiscoverable(true).all() %}
  <div class="mt-4">
    <div>
      <p>The following list contains Creative Commons proposed ideas for the Google Summer of Code 2019</p>

      <ul class="list-unstyled m3">
      {% for idea in ideas %}
        <li class="my-2"><a href="#{{ idea.href }}">{{ idea.title }}</a></li>
      {% endfor %}
      </ul>
    </div>
    {% for idea in ideas %}
      <div class="project-idea-card m-1 mb-4">
        <h2 class="card-header"><a href="#{{ idea.href }}">{{ idea.title }}</a></h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong>Description:</strong> {{ idea.description }}</li>
          <li class="list-group-item"><strong>Rationale:</strong> {{ idea.rationale }}</li>
          <li class="list-group-item"><strong>Resources:</strong> {{ idea.resources }}</li>
          <li class="list-group-item"><strong>Expected Result:</strong> {{ idea.expected_result }}</li>
          <li class="list-group-item"><strong>Skills recommended:</strong> {{ idea.skills_recommended }}</li>
          <li class="list-group-item"><strong>Mentors:</strong> {{ idea.mentors }}</li>
          <li class="list-group-item"><strong>Difficulty:</strong> {{ idea.difficulty }}</li>
        </ul>
      </div>
    {% endfor %}
  </div>
{% endblock %}
