{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}

{% block body %}
  <a name="ideas-top"></a>
  <p class="text-muted">This is the project idea list for the <a href="/gsoc-2019">Google Summer of Code 2019</a> program.
  <hr/>
  {% set ideas = site.query('/gsoc-2019/project-ideas/project-ideas-list').include_undiscoverable(true).all() %}
  <div class="mt-4">
    <div>
      <ul class="list-unstyled m3">
      {% for idea in ideas %}
        <li class="my-2"><a href="#{{ idea._slug }}">{{ idea.title }}</a></li>
      {% endfor %}
      </ul>
    </div>
    <hr/>
    {% for idea in ideas %}
      <div class="project-idea-card m-1 mb-4">
        <h2 class="card-header"><a name="{{ idea._slug }}">{{ idea.title }}</a></h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong>Description:</strong> {{ idea.description }}</li>
          <li class="list-group-item"><strong>Rationale:</strong> {{ idea.rationale }}</li>
          <li class="list-group-item"><strong>Resources:</strong> {{ idea.resources }}</li>
          <li class="list-group-item"><strong>Expected Result:</strong> {{ idea.expected_result }}</li>
          <li class="list-group-item"><strong>Skills recommended:</strong> {{ idea.skills_recommended }}</li>
          <li class="list-group-item"><strong>Mentors:</strong> {{ idea.mentors }}</li>
          <li class="list-group-item"><strong>Difficulty:</strong> {{ idea.difficulty }}</li>
        </ul>
      </div>
    {% endfor %}
    <a id="back-to-top" href="#ideas-top" class="btn btn-dark btn-sm" role="button">Back to list</a>
  </div>
{% endblock %}
