{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
  <p>This is a list of all active open source software projects that Creative Commons maintains.</p>
  <p>Please read the <a href="/contributing-code">Contributing Code</a> page for general information on how to get involved. Contribution guidelines specific to an individual project can be found in the <code>README</code> and the <code>CONTRIBUTING</code> files in the root folder of every repository. If you have any questions, don't hesistate to reach out to us through <a href="/community">one of our community forums</a> or open a GitHub issue.</p>
  <h2>Featured Projects</h2>
    <p>We are actively looking for help with these projects and each project has open GitHub issues that are ready for external contribution.</p>
    <div class="card-deck">
    {% for repo in bag('repos.repos') %}
      {% if repo.featured %}
        <div class="card featured-project-card border-dark mb-4">
          <div class="card-body">
            <h5 class="card-title"><strong>{{ repo.english_name }}</strong>
            <div class="float-right">
              <a class="btn btn-outline-secondary" href="{{ repo.url }}"><img src="{{ this.attachments.get('mark-github.svg')|url }}" alt="GitHub"/></a>
              {% if repo.website %}
                <a class="btn btn-outline-secondary" href="{{ repo.website }}"><img src="{{ this.attachments.get('link-external.svg')|url }}" alt="website"/></a>
              {% endif %}
            </div>
            </h5>
            <p class="card-text">{{ repo.description }}</p>
            {% for technology in repo.technologies %}
              <span class="badge badge-featured-project mr-1 mb-1">{{ technology }}</span>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
  <h2>All Projects</h2>
  <p>This is a complete list of active Creative Commons software projects. Archived projects are not documented here and can be found on the <strong><a href="https://github.com/cc-archive">CC Archive GitHub organization</a>.</strong></p>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Language</th>
        <th scope="col">License</th>
        <th scope="col">Links</th>
      </tr>
    </thead>
    <tbody>
      {% for repo in bag('repos.repos') %}
        <tr>
          <th scope="row">{{ loop.index }}</th>
          <th scope="row">{{ repo.name }}</th>
          {% if repo.description %}
            <td>{{ repo.description }}</td>
          {% else %}
            <td></td>
          {% endif %}
          <td>{% if repo.language %}{{ repo.language }}{% endif %}</td>
          {% if repo.license %}
            <td><a href="{{ repo.license.url }}">{{ repo.license.name }}</a></td>
          {% else %}
            <td>Not specified</td>
          {% endif %}
          <td style="min-width: 12rem;">
            <a class="btn btn-outline-secondary btn-sm" href="{{ repo.url }}"><img src="{{ this.attachments.get('mark-github.svg')|url }}" alt="GitHub"/> GitHub</a>{% if repo.website %} <a class="btn btn-outline-secondary btn-sm" href="{{ repo.website }}"><img src="{{ this.attachments.get('link-external.svg')|url }}" alt="website"/> Website</a>{% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
