body {
    font-family: 'Source Sans Pro', sans-serif;
}

.page-content {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 7rem;    /* Footer height */
}

.footer {
  position: absolute;
  bottom: 0;
  height: 7rem;            /* Footer height */
}

.card-columns {
    column-count: 2;
}

.navbar {
  background-image:linear-gradient(90deg,#EE5B32,#FB7928,#EE5B32);
  background-size: 100% 130px;
  background-position-y: bottom
}

.card-header {
    background-color: #fff;
    border-color: #00b5da;
    border-width: 10px;
    padding-left: 0px;
    font-size: 1.5em;
}

#back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: #00b5da;
    border: none;
}

.nav-item, .dropdown-item {
    font-size: 1.2em;
    font-weight: 900;
}

.dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown-menu {
    margin-top: 0px;
}
