body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #333333;
}
h2 {
  font-weight: 600;
  padding-bottom: 0.5rem;
}
.page-content {
  position: relative;
  min-height: calc(100vh - 21vh);
  padding-bottom: 3rem;
}
.main-header .navbar-brand {
  margin-right: 2rem;
}
.main-header .navbar-brand img {
  width: 250px;
}
.main-header .navbar-brand .legend {
  display: block;
  font-size: .9rem;
  letter-spacing: .15rem;
}
.footer {
  bottom: 0;
  height: 7rem;            /* Footer height */
}
.card-columns {
  column-count: 2;
}
.main-header {
  background-color: #EE5B32;
}
.navbar {
  background-image:linear-gradient(90deg,#EE5B32,#FB7928,#EE5B32);
  background-size: 100% 130px;
  background-position-y: bottom
}
.page-title {
  background-color: #fff;
  border-bottom-style: solid;
  border-color: #EE5B32;
  border-width: 10px;
  padding-left: 0px;
  font-weight: 600;
  color: #333333;
}
.project-idea-header {
  background-color: #fff;
  border-color: #00b5da;
  border-width: 10px;
  padding-left: 0px;
  font-size: 1.5em;
}
#back-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: #00b5da;
  border: none;
}
.nav-item, .dropdown-item {
  font-size: 1.2em;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown-menu {
  margin-top: 0px;
}
.navbar-dark .navbar-nav .nav-item .nav-link {
  padding-bottom: .3rem;
  color: white;
}
.navbar-dark .navbar-nav .nav-item.active .nav-link {
  border-bottom: 2px solid white;
}
@media only screen and (max-device-width: 1198px) {
  .navbar-dark .navbar-nav .nav-item.active .nav-link {
  border-bottom: 2px solid #fbfbfb;
  width:max-content;
}
.toc-card {
  width: 18rem;
  margin-bottom: 1rem;
  float: right;
  margin: 1rem;
}
.toc {
  margin-bottom: 0;
}
.main-footer .footer small {
  display: flex;
  align-items: center;
}
.main-footer .footer small .text-muted {
  margin-left: 2rem;
}
