{% extends "layout.html" %}

{% set body_class = "person-page" %}

{% from "macros/author_posts.html" import render_author_posts %}
{% from "macros/author_name.html" import render_author_name %}

{% block title %}{{ render_author_name(this) }}{% endblock %}

{% block body %}
<header>
  <h1>{{ render_author_name(this) }}</h1>
  <figure>
    <img class="profile" src="https://secure.gravatar.com/avatar/{{ this.md5_hashed_email }}?size=200&d=mp" alt="{{ render_author_name(this) }}'s gravatar">
  </figure>
  <div class="bio">
   {% if this.about %}
   <p>{{ this.about }}</p>
  {% endif %}
  <!--To-do: review legacy button design-->
  <a href="{{ this.parent|url }}">See all authors</a>
  </div>
</header>
<article class="posts">
  <h2>Posts by {{ render_author_name(this) }}</h2>
  {{ render_author_posts(this.children) }}
</article>
{% endblock %}
