{% extends "layout.html" %}
{% from "macros/authors_byline.html" import render_authors_byline %}
{% from "macros/authors_gravatar.html" import render_author_gravatar %}
{% from "macros/posts.html" import render_posts %}

{% block title %}{{ this.title }}{% endblock %}
{% set body_class = "blog-post" %}

{% block body %}
<header>
  <h1>{{ this.title }}</h1>
  <span class="byline"><a>{{ render_authors_byline(this)|trim }}</a></span>
  <span class="categories">
    {% if this.categories|length %}
      {% for category in this.categories %}
        {% set current_category = this.parent.parent.children.get('categories').children.get(category) %}
        {{ check_file('content' + this.parent.parent.path + '/categories/' + category + '/contents.lr') }}
        <a href="{{ current_category|url }}">{{ category }}</a>
      {% endfor %}
    {% else %}
      none
    {% endif %}
  </span>
</header>

<!-- TODO: IF EXCERPT IS TO BE INCLUDED, ADD EXCERPT HERE -->
<!--
  <aside class="opening">
    <p> </p>
  </aside>
-->

<div>{{ this.body }}</div>

{% if this.series|length %}
  {% set series = this.parent.parent.children.get('series').children.get(this.series) %}
  <aside>
    <p>This blog is part of the series:</p>
    <a href="#series">{{ series.name }}</a>
  </aside>

  <article class="posts related">
    <h2>Related posts</h2>
    <ul>
      {% for post in series.children.order_by('pub_date') %}
        <li>
          <article class="post">
            <header>
              <h3><a href="{{ post|url }}">{{ post.title }}</a></h3>
              <span class="byline">{{ render_authors_byline(post)|trim }}</span>
              <span class="categories">
                {% if post.categories|length %}
                  {% for category in post.categories %}
                    {% set current_category = this.parent.parent.children.get('categories').children.get(category) %}
                    <a href="{{ current_category|url }}">{{ category }}</a>
                  {% endfor %}
                {% else %}
                  none
                {% endif %}
              </span>
            </header>
          </article>
        </li>
      {% endfor %}
    </ul>
  </article>
{% endif %}

<article class="tags">
  <h2>Tags</h2>
  <ul>
    {% if this.categories|length %}
      {% for category in this.categories %}
        {% set current_category = this.parent.parent.children.get('categories').children.get(category) %}
        <li><a href="{{ current_category|url }}">{{ category }}</a></li>
      {% endfor %}
    {% else %}
      <li>none</li>
    {% endif %}
  </ul>
</article>

<div class="comments">{{ render_disqus_comments() }}</div>
{% endblock %}
