{% extends "layout.html" %}

{% from "macros/author_name.html" import render_author_name %}

{% from "macros/posts.html" import render_posts %}

{% set author = this.parent.parent.children.get('authors').children.get(this.author) %}

{% block body %}
  <div class="single-entry">
    <div class="single-entry-header">
      <div class="container">
        <h4>CC Open Source Blog</h4>
        <h2 class="title">{{ this.title }}</h2>
        {{ check_file('content' + this.parent.parent.path + '/authors/' + this.author + '/contents.lr') }}
        <div class="author columns is-marginless">
          {% if author.md5_hashed_email %}
            <figure class="image profile">
              <img src="https://secure.gravatar.com/avatar/{{ author.md5_hashed_email }}?size=200" alt="gravatar" class="profile" />
            </figure>
          {% endif %}
          <p class="column">by <a href="{{ author|url }}">{{ render_author_name(author) }}</a>
          on {{ this.pub_date|dateformat('yyyy-''MM-d') }}</p>
        </div>
      </div>
    </div>
    <div class="single-entry-body container">
      <!-- TODO: This section to be discussed -->
      {% if this.series|length %}  
        {% set series = this.parent.parent.children.get('series').children.get(this.series) %}
        <div class="card bg-light mb-2">
          <div class="card-body p-2">
            <p class="meta my-0"><span class="mr-2"><strong>This blog is part of the series:</strong></span>
              <a href="#series">{{ series.name }}</a>
            </p>
          </div>
      </div>
      {% endif %}
      <div class="body">{{ this.body }}</div>
    </div>
    <div class="single-entry-footer container">
      <!-- TODO: This section to be discussed -->
      {% if this.series|length %}
        <div class="mt-3 bg-light" id="series">
          <h5 class="font-weight-bold">Posts in the <em>{{ series.name }}</em> series</h5>
          <ul class="toc list-unstyled">
            {% for post in series.children.order_by('pub_date') %}
              <li>
              {% if post.path==this.path %}
                <strong>{{ post.title }}</strong>
              {% else %}
                <a href="{{ post|url }}">{{ post.title }}</a>
              {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
      <div class="category">
        <h4 class="category-title">Categories</h4>
        <div class="categories">
          {% if this.categories|length %}
            {% for category in this.categories %}
              {% set current_category = this.parent.parent.children.get('categories').children.get(category) %}
              {{ check_file('content' + this.parent.parent.path + '/categories/' + category + '/contents.lr') }}
              <a class="button tag" href=" {{ current_category|url }} ">{{ category }}</a>
            {% endfor %}
          {% else %}
            none
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <div class="comments">{{ render_disqus_comments() }}</div>
{% endblock %}
