{% extends "layout.html" %}

{% from "macros/pagination.html" import render_pagination %}
{% from "macros/posts.html" import render_posts %}

{% block title %}{{ this.title }}{% endblock %}

{% block body %}
 <header>
  <h1>{{ this.title }}</h1>
  <p>{{ this.description }}</p>
</header>

<article class="posts featured">
  <h2>Featured posts</h2>
   {{ render_posts(this.pagination.items) }}
</article>

{% if this.pagination.pages > 1 %}
  {{ render_pagination(this.pagination) }}
{% endif %}

{% endblock %}
