{% extends "layout.html" %}

{% from "macros/posts.html" import render_posts %}

{% block title %}{{ this.name }}{% endblock %}

{% block body %}
  <div class="all-series">
    <div class="header">
      <div class="container">
        <h1>All posts in series "{{ this.name }}"</h1>
        <a class="button small margin-top-bigger" href="{{ this.parent|url }}">See all series</a>
      </div>
    </div>
    <div class="series-list container">
      {{ render_posts(this.children) }}
    </div>
  </div>
{% endblock %}
