{% extends "layout.html" %}

{% from "macros/pagination.html" import render_pagination %}
{% from "macros/posts.html" import render_posts %}

{% block title %}{{ this.title }}{% endblock %}

{% block body %}
  <div class="blog-page" role="main">
    <div class="header">
      <div class="container">
        <h1>{{ this.title }}</h1>
        <div class="description column is-9 is-paddingless" aria-describedby="blog-description">{{ this.description }}</div>
      </div>
    </div>
    <div class="container blog-page-posts">
      <section aria-labelledby="blog-posts">
        <h2 id="blog-posts" class="sr-only">Blog Posts</h2>
        {{ render_posts(this.pagination.items) }}
      </section>
      <div class="pagination-wrapper" aria-live="polite">
        {% if this.pagination.pages > 1 %}
          {{ render_pagination(this.pagination) }}
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
