{% extends "layout.html" %}

{% block title %}{{ this.title }}{% endblock %}

{% block body %}
  <header>
    <h1>{{ this.title }}</h1>
  </header>
    <div class="content main-content">
      <div class="search-guide-container">
        <div class="steps-container">
          <h4>Steps</h4>
          <ul class="steps-list">
            {% set step = namespace (number = 0) %}
            {% for item in this.body.toc %}
              {% if (loop.index + 1)%3 == 0 %}
                <li class="step-item">
                  <a href="#{{ this.body.toc[loop.index - 2].anchor }}" class="step-link"> 
                    <span class="step-number">{{ step.number }}</span>
                    <span class="step-title">{{ item.title }}</span>
                  </a>
                </li>
                {% set step.number = step.number + 1 %}
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      <div class="guide-content">
        {{ this.body }}
      </div>
    </div>
    </div>
{% endblock %}
