{% extends "layout.html" %}

{% block body %}
<div class="cc-search-guide">
  <header class="header">
    <div class="container is-paddingless">
      <h1>{{ this.title }}</h1>
    </div>
  </header>
  <div class="container body">
    <div class="columns">
      <div class="column is-one-quarter">
        <div class="table-of-progress sticky-top">
          <h4 class="step-header">Steps</h4>
          <ul>
            {% set step = namespace (number = 0) %}
            {% for item in this.body.toc %}
              {% if (loop.index + 1)%3 == 0 %}
                <li class="step">
                  <a class="link" href="#{{ this.body.toc[loop.index - 2].anchor }}">
                    <span class="number">{{ step.number }}</span>
                    <span class="name">{{ item.title }}</span>
                  </a>
                </li>
                {% set step.number = step.number + 1 %}
              {% endif%}
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="column content">
        {{ this.body }}
      </div>
    </div>
  </div>
</div>
{% endblock %}