{% extends "layout.html" %}

{% block title %}{{ this.title }}{% endblock %}

{% block body %}
  <div class="issue-finder" role="region" aria-labelledby="issue-finder-title">
    <div class="header">
      <div class="container is-paddingless">
        <h1 id="issue-finder-title">{{ this.title }}</h1>
        <div class="description column is-9 is-paddingless">
          <p>{{ this.description }}</p>
        </div>
      </div>
    </div>
    <div class="body container">
      <div id="vue-app" aria-live="polite">
        {{ this.body }}
        <noscript>
          <p>The issue finder requires JavaScript. You can try searching on GitHub using the links below.</p>
          <ul class="gh-links">
            <li>
              <a href="https://github.com/search?q=org%3Acreativecommons+is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22+-linked%3Apr" 
                 aria-label="Issues labeled 'good first issue' on GitHub">
                issues labeled "good first issue"
              </a>
            </li>
            <li>
              <a href="https://github.com/search?q=org%3Acreativecommons+is%3Aissue+is%3Aopen+label%3A%22help+wanted%22+-linked%3Apr" 
                 aria-label="Issues labeled 'help wanted' on GitHub">
                issues labeled "help wanted"
              </a>
            </li>
            <li>
              <a href="https://github.com/search?q=org%3Acreativecommons+is%3Apr+is%3Aopen+label%3A%22help+wanted%22" 
                 aria-label="PRs labeled 'help wanted' on GitHub">
                PRs labeled "help wanted"
              </a>
            </li>
          </ul>
        </noscript>
      </div>
    </div>
  </div>
{% endblock %}
