{% extends "layout.html" %}

{% block title %}{{ this.title }}{% endblock %}

{% block body %}
  <div class="issue-finder">
    <div class="header">
      <div class="container">
        <h1>Issue Finder</h1>
        <p class="description">
          Welcome to the CC developer community! We're absolutely delighted to
          have you here. If you want to contribute but are unsure where to
          start, you can use this issue finder to find an issue that matches
          your skills and experience level.
        </p>
      </div>
    </div>
    <div class="body container">
      <div id="vue-app">Loading...</div>
    </div>
  </div>
{% endblock %}
