<!doctype html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="shortcut icon" type="image/x-icon" href="{{ '/static/favicon.ico'|url }}">
<link rel="stylesheet" href="{{ '/static/gen/style.css'|url }}">
<link rel="stylesheet" href="{{ '/static/vocabulary/css/vocabulary.css'|url }}">
<link rel="stylesheet" href="{{ get_pygments_stylesheet()|url }}">
<meta property="og:site_name" content="Creative Commons" />
<meta property="og:title" content="{{ this.title }}" />
{% if this.description %}
{% set desc = this.description|excerpt|striphtmltags %}
<meta property="og:description" content="{{ desc }}" />
{% else %}
{% if this.body %}
{% set desc = this.body|excerpt|striphtmltags %}
<meta property="og:description" content="{{ desc }}" />
{% endif %}
{% endif %}
<meta property="og:url" content="{{ this|url }}" />
<meta property="og:type" content="article" />
{% from "macros/og_image.html" import og_image %}
{{ og_image(this) }}
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ this.title }}">
<meta name="twitter:description" content="{{ desc }}">
{% if image %}
<meta name="twitter:image" content="{{ image|url(external=true) }}">
{% endif %}
<meta name="twitter:site" content="@creativecommons">
<meta name="twitter:creator" content="@creativecommons">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
  integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
  integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ '/static/gen/script.js'|url }}"></script>
<title>{% block title %}Welcome{% endblock %} — Creative Commons Open Source</title>

<body class="blog-index">

<a class="skip-to-content" href="#main-content-marker">Skip to content</a>

<header>
    <div class="masthead">
      <h1><a class="identity-logo product" href="{{ '/'|url }}">Open Source</a></h1>
        <button class="expand-menu">Menu</button>
        <nav class="primary-menu">
            <ul>
                <li><a class="navbar-item {% if this.is_child_of('/blog') %} is-active{% endif%}" href="{{ '/blog/entries'|url }}">
                  Blog
                </a></li>
                <li><div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link is-arrowless {% if this.is_child_of('/contributing-code') %} is-active{% endif%}" tabindex="0">
                    Contribute</a>
                  <div class="navbar-dropdown">
                    {% for href, title in [
                      ['/contributing-code', 'Contribution Guidelines'],
                      ['/contributing-code/projects', 'Project List'],
                      ['/contributing-code/issue-finder', 'Issue Finder'],
                      ['/contributing-code/pr-guidelines', 'Pull Request Guidelines'],
                      ['/contributing-code/github-repo-guidelines', 'GitHub Repo Guidelines'],
                      ['/contributing-code/repo-labels', 'Repository Labels'],
                      ['/contributing-code/foundational-tech', 'Foundational technologies'],
                      ['/contributing-code/documentation-guidelines', 'Documentation Guidelines'],
                      ['/contributing-code/javascript-guidelines', 'JavaScript Guidelines'],
                      ['/contributing-code/python-guidelines', 'Python Guidelines'],
                      ['/contributing-code/translation-guide', 'Translation Guide'],
                      ['/contributing-code/usability', 'Usability'],
                    ] %}
                      <a class="navbar-item" href="{{ href|url }}">{{ title }}</a>
                    {% endfor %}
                  </div>
                </div></li>
                <li><div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link is-arrowless {% if this.is_child_of('/community') %} is-active{% endif%}" tabindex="0">
                    Community</a>
                  <div class="navbar-dropdown is-active">
                    {% for href, title in [
                      ['/community', 'Join the Community'],
                      ['/community/community-team', 'Community Team'],
                      ['/community/community-team/members', 'Community Team Members'],
                      ['/community/community-team/project-roles', 'Project Roles'],
                      ['/community/community-team/community-building-roles', 'Community Building Roles'],
                      ['/community/write-a-blog-post', 'Write a Blog Post'],
                      ['/community/code-of-conduct', 'Code of Conduct'],
                      ['/community/code-of-conduct/enforcement', 'Code of Conduct Enforcement'],
                      ['/community/supporters', 'Supporters'],
                    ] %}
                      <a class="navbar-item" href="{{ href|url }}">{{ title }}</a>
                    {% endfor %}
                  </div>
                </div></li>
                <li><div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link is-arrowless {% if this.is_child_of('/programs') %} is-active{% endif%}" tabindex="0">
                    Work Programs</i></a>
                  <div class="navbar-dropdown">
                    {% for href, title in [
                      ['/programs', 'Overview'],
                      ['/programs/project-ideas', 'Project Ideas'],
                      ['/programs/applicant-guide', 'Applicant Guide'],
                      ['/programs/contrib-guide', 'Contributor Guide'],
                      ['/programs/lead-guide', 'Project Lead Guide'],
                      ['/programs/history', 'History'],
                    ] %}
                      <a class="navbar-item" href="{{ href|url }}">{{ title }}</a>
                    {% endfor %}
                  </div>
                </div></li>
            </ul>
          </nav>

        <nav class="ancilliary-menu">
            <ul>
                <!-- uncomment below line, if translation functionality is present on site -->
                <li><button class="locale icon-attach fa-globe">English</button></li>
                <!-- uncomment below line, if search functionality is present on site -->
                <!-- <li><a class="search icon-attach fa-search" href="#">Search</a></li> -->
                <li><a class="donate icon-attach fa-heart" href="https://www.classy.org/give/313412/#!/donation/checkout?c_src=website&amp;c_src2=top-of-page-banner" target="_blank">Donate</a></li>
                <li><button class="explore">Explore CC</button></li>
            </ul>
        </nav>
    </div>



    <div class="explore-panel">

    <!-- (optional main CC logo, p, link on non-home site back to main site) -->
    <aside>
        <a class="identity-logo" href="https://creativecommons.org">Creative Commons</a>
        <h2>Our Work Relies On You!</h2>
        <p>Help us keep the internet free and open.</p>
    </aside>

    <nav class="explore-menu">
        <ul>
            <li>
                <a href="https://network.creativecommons.org/" target="_blank">Global Network</a>
                <p>Join a  global community working to strengthen the Commons</p>
            </li>
            <li>
                <a href="https://certificate.creativecommons.org/" target="_blank">Certificate</a>
                <p>Become an expert in creating and engaging with openly licensed materials</p>
            </li>
            <li>
                <a href="/choose" target="_blank">Chooser</a>
                <p>Get help choosing the appropriate license for your work</p>
            </li>
            <li>
                <a href="https://search.creativecommons.org/" target="_blank">Search Portal</a>
                <p>Find engines to search openly licensed material for creative and educational reuse</p>
            </li>
          </ul>
    </nav>
    </div>
</header>

  <!-- Breadcrumb -->
  {% if this._path !=  '/'%}
    <div class="breadcrumb-container">
      <nav class="container breadcrumb caption bold" aria-label="breadcrumbs">
        <ul>
          {% set crumbs = [] %}
          {% set current = {'crumb': this} %}
          <!-- Extracting the slugs of URL -->
          {% for i in this._path.split("/") %}
            {% if current.crumb is not none %}
              {% if crumbs.insert(0, current.crumb._slug) %}{% endif %}
              {% if current.update({"crumb": current.crumb.parent}) %}{% endif %}
            {% endif %}
          {% endfor %}
          {% for crumb in crumbs %}
            <!-- Active link -->
            {% if this._slug == crumb %}
              <li class="is-active"><a aria-current="page displayed">{{ this.title }}</a></li>
            {% else %}
              <!-- Forming the URL using extracted slugs -->
              {% set i = loop.index %}
              {% set ns = namespace (link = '') %}
              {% for j in range(i) %}
                {% set ns.link = ns.link + crumbs[j] + '/' %}
              {% endfor %}
              <li><a class="link" href="{{ ns.link|url }}">
              {% if crumb != '' %}
                {{ crumb | title | replace('-', ' ') }}
              {% else %}
                Home
              {% endif %}
              </a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </nav>
    </div>
  {% endif %}

  <!-- Body -->
  <span id="main-content-marker"></span>
  <main>
  <div class="content">
  {% block body %}{% endblock %}
  </div>
  </main>

  <!-- Footer -->
  <footer>
    <a class="identity-logo" href="#">Creative Commons</a>

    <nav class="footer-menu">
        <ul>
            <li>
              <a href="{{ '/blog/entries'|url }}" class="menu-item">Blog</a>
            </li>
            <li>
              <a href="{{ '/community/community-team'|url }}" class="menu-item">Community Team</a>
            </li>
            <li>
              <a href="{{ '/contributing-code/projects'|url }}" class="menu-item">Project List</a>
            </li>
            <li>
              <a href="{{ '/archives'|url }}" class="menu-item">Archives</a>
            </li>
        </ul>
    </nav>

    <div class="contact">
    <!-- this area lacks a heading? -->
    <h2>Contact Us</h2>
    <p>Creative Commons <br> PO Box 1866, Mountain View, CA 94042</p>
    <p><a href="mailto:info@creativecommons.org">info@creativecommons.org</a></p>
    <nav class="social-menu">
        <ul>
            <li><a class="icon-replace fa-bluesky" href="https://bsky.app/profile/creativecommons.bsky.social" target="_blank">Bluesky</a></li>
            <li><a class="icon-replace fa-mastodon" href="https://mastodon.social/@creativecommons" target="_blank">Mastodon</a></li>
            <li><a class="icon-replace fa-facebook" href="https://www.facebook.com/creativecommons" target="_blank">Facebook</a></li>
            <li><a class="icon-replace fa-linkedin" href="https://www.linkedin.com/company/creative-commons/" target="_blank">LinkedIn</a></li>
        </ul>
    </nav>
    </div>

    <div class="subscribe">
    <h2>Subscribe to our Newsletter</h2>
    <form action="https://creativecommons.us4.list-manage.com/subscribe/post?u=fd30364b6577b471373d6076c&amp;id=4603fe102a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate newsletter" target="_blank" novalidate="">
        <input type="email" value="" name="EMAIL" class="email input" id="mce-EMAIL" placeholder="Your email" required="">
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px" aria-hidden="true">
          <input type="text" name="b_fd30364b6577b471373d6076c_4603fe102a" tabindex="-1" value="">
        </div>
        <input type="submit" value="subscribe" id="mc-embedded-subscribe" class="button small">
      </form>
    </div>

    <div class="donate">
        <h2>Our work relies on you!</h2>
        <p>Help us keep the internet free and open</p>
        <a class="donate icon-attach cc-heart-filled" href="https://www.classy.org/give/313412/#!/donation/checkout?c_src=website&amp;c_src2=top-of-page-banner" target="_blank">Donate Now</a>
    </div>


    <div class="license">
        <p>Except where otherwise <a href="/policies/#license">noted</a>, content on this site is licensed under a <a href="/licenses/by/4.0/">Creative Commons Attribution 4.0 International license</a>. Icons by <a href="https://fontawesome.com/" target="_blank">Font Awesome</a>.</p>

        <svg>
            <use href="/vocabulary/svg/cc/icons/cc-icons.svg#cc-logo"></use>
        </svg>
        <svg>
            <use href="/vocabulary/svg/cc/icons/cc-icons.svg#cc-by"></use>
        </svg>
    </div>

  </footer>
  <script src="{{ '/static/vocabulary/js/vocabulary.js'|url }}"></script>
 </body>
</html>
