<!doctype html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="shortcut icon" type="image/x-icon" href="{{ '/static/favicon.ico'|url }}">
<link rel="stylesheet" href="{{ '/static/gen/style.css'|url }}">
<link rel="stylesheet" href="{{ get_pygments_stylesheet()|url }}">
<meta property="og:site_name" content="Creative Commons" />
<meta property="og:title" content="{{ this.title }}" />
{% if this.description %}
{% set desc = this.description|excerpt|striphtmltags %}
<meta property="og:description" content="{{ desc }}" />
{% else %}
{% if this.body %}
{% set desc = this.body|excerpt|striphtmltags %}
<meta property="og:description" content="{{ desc }}" />
{% endif %}
{% endif %}
<meta property="og:url" content="{{ this|url }}" />
<meta property="og:type" content="article" />
{% from "macros/og_image.html" import og_image %}
{{ og_image(this) }}
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ this.title }}">
<meta name="twitter:description" content="{{ desc }}">
{% if image %}
<meta name="twitter:image" content="{{ image|url(external=true) }}">
{% endif %}
<meta name="twitter:site" content="@creativecommons">
<meta name="twitter:creator" content="@creativecommons">
<meta name="monetization" content="$ilp.uphold.com/edR8erBDbRyq">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
  integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
  integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ '/static/gen/script.js'|url }}"></script>
<script src="https://unpkg.com/@creativecommons/vocabulary@2020.7.2/js/vocabulary.js"></script>
<script>
  const globalHeaderInstance = vocabulary.createGlobalHeader();
</script>
<title>{% block title %}Welcome{% endblock %} — Creative Commons Open Source</title>

<body>
  <div class="ga-script">{{ generate_google_analytics() }}</div>

  <!-- Header -->
  <header class="container">
    <nav class="navbar">
      <div class="navbar-brand">
        <a class="has-text-black" href="{{ '/'|url }}">
          <svg
            class="logo margin-top-small"
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMidYMid meet"
            viewBox="0 0 284 46">
            <use href="#opensource"></use>
          </svg>
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-menu">
        <div class="navbar-end">
          <a class="navbar-item {% if this.is_child_of('/blog') %} is-active{% endif%}" href="{{ '/blog/entries'|url }}">
            Blog
          </a>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link is-arrowless {% if this.is_child_of('/contributing-code') %} is-active{% endif%}" tabindex="0">
              Contribute<i class="icon caret-down"></i></a>
            <div class="navbar-dropdown">
              {% for href, title in [
                ['/contributing-code', 'Contribution Guidelines'],
                ['/contributing-code/projects', 'Project List'],
                ['/contributing-code/issue-finder', 'Issue Finder'],
                ['/contributing-code/pr-guidelines', 'Pull Request Guidelines'],
                ['/contributing-code/github-repo-guidelines', 'GitHub Repo Guidelines'],
                ['/contributing-code/repo-labels', 'Repository Labels'],
                ['/contributing-code/javascript-guidelines', 'JavaScript Guidelines'],
                ['/contributing-code/python-guidelines', 'Python Guidelines'],
                ['/contributing-code/translation-guide', 'Translation Guide'],
                ['/contributing-code/usability', 'Usability'],
              ] %}
                <a class="navbar-item" href="{{ href|url }}">{{ title }}</a>
              {% endfor %}
            </div>
          </div>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link is-arrowless {% if this.is_child_of('/community') %} is-active{% endif%}" tabindex="0">
              Community<i class="icon caret-down"></i></a>
            <div class="navbar-dropdown is-active">
              {% for href, title in [
                ['/community', 'Join the Community'],
                ['/community/community-team', 'Community Team'],
                ['/community/community-team/members', 'Community Team Members'],
                ['/community/community-team/project-roles', 'Project Roles'],
                ['/community/community-team/community-building-roles', 'Community Building Roles'],
                ['/community/write-a-blog-post', 'Write a Blog Post'],
                ['/community/code-of-conduct', 'Code of Conduct'],
                ['/community/code-of-conduct/enforcement', 'Code of Conduct Enforcement'],
              ] %}
                <a class="navbar-item" href="{{ href|url }}">{{ title }}</a>
              {% endfor %}
            </div>
          </div>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link is-arrowless {% if this.is_child_of('/programs') %} is-active{% endif%}" tabindex="0">
              Work Programs<i class="icon caret-down"></i></a>
            <div class="navbar-dropdown">
              {% for href, title in [
                ['/programs', 'Overview'],
                ['/programs/project-ideas', 'Project Ideas'],
                ['/programs/applicant-guide', 'Applicant Guide'],
                ['/programs/contrib-guide', 'Contributor Guide'],
                ['/programs/lead-guide', 'Project Lead Guide'],
                ['/programs/history', 'History'],
              ] %}
                <a class="navbar-item" href="{{ href|url }}">{{ title }}</a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>

  <!-- Breadcrumb -->
  {% if this._path !=  '/'%}
    <div class="breadcrumb-container">
      <nav class="container breadcrumb caption bold" aria-label="breadcrumbs">
        <ul>
          {% set crumbs = [] %}
          {% set current = {'crumb': this} %}
          <!-- Extracting the slugs of URL -->
          {% for i in this._path.split("/") %}
            {% if current.crumb is not none %}
              {% if crumbs.insert(0, current.crumb._slug) %}{% endif %}
              {% if current.update({"crumb": current.crumb.parent}) %}{% endif %}
            {% endif %}
          {% endfor %}
          {% for crumb in crumbs %}
            <!-- Active link -->
            {% if this._slug == crumb %}
              <li class="is-active"><a aria-current="page displayed">{{ this.title }}</a></li>
            {% else %}
              <!-- Forming the URL using extracted slugs -->
              {% set i = loop.index %}
              {% set ns = namespace (link = '') %}
              {% for j in range(i) %}
                {% set ns.link = ns.link + crumbs[j] + '/' %}
              {% endfor %}
              <li><a class="link" href="{{ ns.link|url }}">
              {% if crumb != '' %}
                {{ crumb | title | replace('-', ' ') }}
              {% else %}
                Home
              {% endif %}
              </a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </nav>
    </div>
  {% endif %}

  <!-- Body -->
  {% block body %}{% endblock %}

  <!-- Footer -->
  <footer class="main-footer">
    <div class="container">
      <div class="columns">
        <div class="column is-one-third-tablet-only is-one-quarter-desktop">
          <a href="https://creativecommons.org" class="main-logo margin-bottom-bigger">
            <span class="has-text-white">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                preserveAspectRatio="xMidYMid meet"
                viewBox="0 0 304 73">
                <use href="#logomark"></use>
              </svg>
            </span>
          </a>
          <div>
            <address class="margin-bottom-normal">Creative Commons<br />PO Box 1866, Mountain View CA 94042</address>
            <a href="mailto:info@creativecommons.org" class="mail">info@creativecommons.org</a><br />
            <a href="tel://+1-415-429-6753" class="phone">+1-415-429-6753</a>
          </div>
          <div class="margin-vertical-large">
            <a href="https://www.instagram.com/creativecommons" class="social has-text-white" target="_blank"
              rel="noopener">
              <i class="icon margin-right-small is-size-4">instagram</i>
            </a>
            <a href="https://www.twitter.com/creativecommons" class="social has-text-white" target="_blank"
              rel="noopener">
              <i class="icon margin-right-small is-size-4">twitter</i>
            </a>
            <a href="https://www.facebook.com/creativecommons" class="social has-text-white" target="_blank"
              rel="noopener">
              <i class="icon margin-right-small is-size-4">facebook</i>
            </a>
            <a href="https://www.linkedin.com/company/creative-commons/" class="social has-text-white" target="_blank"
              rel="noopener">
              <i class="icon margin-right-small is-size-4">linkedin</i>
            </a>
          </div>
        </div>
        <div class="column is-two-third-tablet-only is-three-quarters-desktop">
          <div class="columns">
            <div class="column is-full">
              <nav class="footer-navigation">
                <ul class="menu">
                  <li>
                    <a href="{{ '/blog/entries'|url }}" class="menu-item">Blog</a>
                  </li>
                  <li>
                    <a href="{{ '/community/community-team'|url }}" class="menu-item">Community Team</a>
                  </li>
                  <li>
                    <a href="{{ '/contributing-code/projects'|url }}" class="menu-item">Project List</a>
                  </li>
                  <li>
                    <a href="{{ '/archives'|url }}" class="menu-item">Archives</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="columns">
            <div class="column is-two-thirds">
              <div class="subscription">
                <h5 class="b-header">Subscribe to our newsletter</h5>
                <form class="newsletter">
                  <input type="text" class="input" placeholder="Your email">
                  <input type="submit" value="subscribe" class="button small">
                </form>
              </div>
              <div class="attribution margin-top-bigger">
                <p class="caption">
                  Except where otherwise
                  <a href="https://creativecommons.org/policies#license" target="_blank" rel="noopener">noted</a>,
                  content on this site is licensed under a
                  <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank" rel="noopener">Creative Commons
                    Attribution 4.0 International license</a>.
                  <a href="https://creativecommons.org/website-icons" target="_blank" rel="noopener">Icons</a>
                  by
                  <a href="https://fontawesome.com/" target="_blank" rel="noopener">Font Awesome</a>.
                </p>
                <div class="margin-top-smaller">
                  <i class="icon margin-right-small is-size-4">cclogo</i>
                  <i class="icon margin-right-small is-size-4">ccby</i>
                </div>
              </div>
            </div>
            <div class="column is-one-third">
              <aside class="donate-section">
                <h5>Our work relies on you!</h5>
                <p>Help us keep the internet free and open.</p>
                <a class="button small donate" href="https://creativecommons.org/donate?c_src=website&c_src2=GlobalFooter">
                  <i class="icon cc-letterheart-filled margin-right-small is-size-5 padding-top-smaller"></i>
                  Donate now
                </a>
              </aside>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>
