{% extends "layout.html" %}

{% block title %}{{ this.title }}{% endblock %}

{% block body %}
  <div class="code-guidelines">
    <header class="header">
      <div class="container is-paddingless">
        <h1>{{ this.title }}</h1>
        <div class="description column is-9 is-paddingless">
          {{ this.description }}
        </div>
      </div>
    </header>
    <div class="container code-guidelines-body">
      <div class="columns">
        <div class="column is-one-quarter">
          <div class="row">
            {% if this.is_child_of('/contributing-code') %}
              <aside class="menu sidebar-menu">
                <ul class="menu-list">
                  <li>
                    <a class="{% if this.path == '/contributing-code/repo-labels' %} is-active {% endif%} link" href="{{ '/contributing-code/repo-labels'|url }}">Repository Labels</a>
                  </li>
                  <hr class="divider">
                  <li>
                    <a class="{% if this.path == '/contributing-code/projects' %} is-active {% endif%} link" href="{{ '/contributing-code/projects'|url }}">Project List</a>
                  </li>
                  <hr class="divider">
                  <li>
                    <a class="{% if this.path == '/contributing-code' %} is-active {% endif%} link" href="{{ '/contributing-code'|url }}">Contribution Guidelines</a>
                    <ul>
                      <li><a class="{% if this.path == '/contributing-code/pr-guidelines' %} is-active {% endif%} link" href="{{ '/contributing-code/pr-guidelines'|url }}"><i class="icon circle-filled"></i>PR Guidelines</a></li>
                      <li><a class="{% if this.path == '/contributing-code/github-repo-guidelines' %} is-active {% endif%} link" href="{{ '/contributing-code/github-repo-guidelines'|url }}"><i class="icon circle-filled"></i>Github Repo Guidelines</a></li>
                    </ul>
                  </li>
                  <hr class="divider">
                  <li>
                    <a class="link" href="{{ '/contributing-code/cc-search'|url }}">CC Search</a>
                  </li>
                  <hr class="divider">
                  <li>
                    <a class="{% if this.path == '/contributing-code/usability' %} is-active {% endif%} link" href="{{ '/contributing-code/usability'|url }}">Usability</a>
                  </li>
                </ul>
              </aside>
            {% elif this.is_child_of('/community') %}
              <aside class="menu sidebar-menu">
                <ul class="menu-list">
                  <li>
                    <a class="{% if this._path == '/community' %} is-active {% endif%} link" href="{{ '/community'|url }}">Join the Community</a>
                  </li>
                  <hr class="divider">
                  <li>
                    <a class="{% if this._path == '/community/community-team' %} is-active {% endif%} link" href="{{ '/community/community-team'|url }}">Community Team</a>
                    <ul>
                      <li><a class="{% if this._path == '/community/community-team/members' %} is-active {% endif%} link" href="{{ '/community/community-team/members'|url }}"><i class="icon circle-filled"></i>Community Team Members</a></li>
                      <li><a class="{% if this._path == '/community/community-team/project-roles' %} is-active {% endif%} link" href="{{ '/community/community-team/project-roles'|url }}"><i class="icon circle-filled"></i>Project Roles</a></li>
                      <li><a class="{% if this._path == '/community/community-team/community-building-roles' %} is-active {% endif%} link" href="{{ '/community/community-team/community-building-roles'|url }}"><i class="icon circle-filled"></i>Community Building Roles</a></li>
                    </ul>
                  </li>
                  <hr class="divider">
                  <li>
                    <a class="{% if this._path == '/community/write-a-blog-post' %} is-active {% endif%} link" href="{{ '/community/write-a-blog-post'|url }}">Write a Blog Post</a>
                  </li>
                  <hr class="divider">
                  <li>
                    <a class="{% if this._path == '/community/code-of-conduct' %} is-active {% endif%} link" href="{{ '/community/code-of-conduct'|url }}">Code of Conduct</a>
                    <ul>
                      <li><a class="{% if this._path == '/community/code-of-conduct/enforcement' %} is-active {% endif%} link" href="{{ '/community/code-of-conduct/enforcement'|url }}"><i class="icon circle-filled"></i>Code of Conduct Enforcement</a></li>
                    </ul>
                  </li>
                </ul>
              </aside>
            {% elif this.is_child_of('/internships') %}
              <aside class="menu sidebar-menu">
                <ul class="menu-list">
                  <li>
                    <a class="{% if this._path == '/internships' %} is-active {% endif%} link" href="{{ '/internships'|url }}">Overview</a>
                    <ul>
                      <li><a class="{% if this._path == '/internships/applicant-guide' %} is-active {% endif%} link" href="{{ '/internships/applicant-guide'|url }}"><i class="icon circle-filled"></i>Applicant Guide</a></li>
                      <li><a class="{% if this._path == '/internships/intern-guide' %} is-active {% endif%} link" href="{{ '/internships/intern-guide'|url }}"><i class="icon circle-filled"></i>Intern Guide</a></li>
                      <li><a class="{% if this._path == '/internships/mentor-guide' %} is-active {% endif%} link" href="{{ '/internships/mentor-guide'|url }}"><i class="icon circle-filled"></i>Mentor Guide</a></li>
                    </ul>
                  </li>
                  <hr class="divider">
                  <li>
                    <a class="{% if this._path == '/internships/project-ideas' %} is-active {% endif%} link" href="{{ '/internships/project-ideas'|url }}">Project Ideas</a>
                  </li>
                  <hr class="divider">
                  <li>
                    <a class="{% if this._path == '/internships/history' %} is-active {% endif%} link" href="{{ '/internships/history'|url }}">History</a>
                  </li>
                </ul>
              </aside>
            {% endif %}
          </div>
          <div class="row padding-bottom-normal sticky-top">
            <h4 class="b-header">On this page</h4>
            <aside class="menu table-of-contents">
              <ul class="menu-list">
                {% for item in this.body.toc %}
                  <li>
                    <a class="link" href="#{{ item.anchor }}">{{ item.title }}</a>
                    {% if item.children %}
                      <ul>
                        {% for subitem in item.children %}
                          <li><a class="link" href="#{{ subitem.anchor }}"><i class="icon circle-filled"></i>{{ subitem.title }}</a></li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            </aside>
          </div>
        </div>
        <div class="column content">
          {{ this.body }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
