{% extends "layout.html" %}

{% block body %}
  <div class="code-guidelines">
    <header class="code-guidelines-title">
      <div class="container is-paddingless">
        <h1>{{ this.title }}</h1>
        <div class="description">
          {{this.description}}
        </div>
      </div>
    </header>
  </div>


  <div class="card toc-card bg-light">
    <div class="card-body">
      <ul class="toc list-unstyled">
        {% for item in this.body.toc %}
          <li><a href="#{{ item.anchor }}">{{ item.title }}</a></li>
          {% if item.children %}
            <ul class="toc list-unstyled pl-4">
              {% for subitem in item.children %}
                <li><a href="#{{ subitem.anchor }}">{{ subitem.title }}</a></li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
  {{ this.body }}
{% endblock %}
