{% extends "layout.html" %}

{% block title %}Open Source Work Programs: Project Ideas{% endblock %}

{% block body %}
<header>
  <h1>Open Source Work Programs: Project Ideas</h1>
  <p>This is the project idea list for the <span>current round of open source collaborations at Creative Commons (CC).</span></p>
  {% set ideas = site.query('/programs/project-ideas-collection').include_undiscoverable(true) %}
  <!--TODO: EVALUATE WHETHER TO KEEP LEGACY DESIGN-->
  <div class="filter-labels" id="project-list">
    <button type="button" class="button tag btn-dark filter-btn" data-filter="all">All Projects</button>
    <button type="button" class="button tag filter-btn" data-filter="difficulty-medium">Difficulty: Medium</button>
    <button type="button" class="button tag filter-btn" data-filter="difficulty-hard">Difficulty: Hard</button>
    <button type="button" class="button tag filter-btn" data-filter="skill-ansible">Skill: Ansible</button>
    <button type="button" class="button tag filter-btn" data-filter="skill-css">Skill: CSS</button>
    <button type="button" class="button tag filter-btn" data-filter="skill-docker">Skill: Docker</button>
    <button type="button" class="button tag filter-btn" data-filter="skill-javascript">Skill: JavaScript</button>
    <button type="button" class="button tag filter-btn" data-filter="skill-php">Skill: PHP</button>
    <button type="button" class="button tag filter-btn" data-filter="skill-python">Skill: Python</button>
    <button type="button" class="button tag filter-btn" data-filter="skill-wordpress">Skill: WordPress</button>
  </div>
</header>

<article class="projects">
  <h2>Current Programs</h2>
  <p>Here are some highlighted projects currently underway:</p>
  <ul>

    {% for idea in ideas %}
      <li class="filter filter-label {{ idea.filter_value }}">
        <article class="project">
          <h3><a href="#{{ idea._slug }}">{{ idea.title }}</a></h3>
        </article>
      </li>
    {% endfor %}
    <li>
      <article class="project">
        <h3><a href="#original-ideas">Original Ideas</a></h3>
      </article>
    </li>
  </ul>
</article>

<!--TODO: EVALUATE WHETHER TO KEEP LEGACY DESIGN/MARKUP-->

<div>
  {% for idea in ideas %}
    <div>
      <h2><a name="{{ idea._slug }}">{{ idea.title }}</a></h2>
      <div>
        <div>
          <h5>Difficulty</h5>
          <p>{{ idea.difficulty }}</p>
          <h5>Size</h5>
          <p>{{ idea.size }}</p>
          <h5>Skills recommended</h5>
          {{ idea.skills_recommended }}
          <h5>Project Lead</h5>
          {{ idea.lead }}
        </div>
        <div>
          <h3>The Problem</h3>
          <p>{{ idea.problem }}</p>
          <h3>Expected Outcome</h3>
          <p>{{ idea.expected_outcome }}</p>
          <h3>Contributor Tasks</h3>
          <p>{{ idea.contributor_tasks }}</p>
          <h3>Application Tips</h3>
          <p>{{ idea.application_tips }}</p>
          <h3>Resources</h3>
          <p>{{ idea.resources }}</p>
        </div>
      </div>
      <a href="#project-list"><i></i> Back to the Project list</a>
    </div>
  {% endfor %}
   <div>
      <h2 class="b-header"><a name="original-ideas">Original Ideas</a></h2>
      <p>We are open to original ideas for documentation improvements.</p>
      <p>Please talk to us on the <code>#cc-dev-workprograms</code> channel on Slack or via the mailing list to find a mentor for the project before submitting your proposal.</p>
      <a href="#project-list"><i></i> Back to the Project list</a>
  </div>
</div> 
{% endblock %}
