{% extends "layout.html" %}

{% block title %}{{ this.title }}{% endblock %}

{% block body %}
  <div class="project-list" role="region" aria-labelledby="project-list-title">
    <div class="header">
      <div class="container">
        <h1 id="project-list-title">Project List</h1>
        <p class="description">This is a list of all active open source software projects that Creative Commons (CC) maintains.</p>
      </div>
    </div>
    <div class="body container">
      <p>Please read the <a href="/contributing-code" aria-label="Contributing Code">Contributing Code</a> page for general information on how to get involved. Contribution guidelines specific to an individual project can be found in the <code>README</code> and the <code>CONTRIBUTING</code> files in the root folder of every repository. If you have any questions, don't hesitate to reach out to us through <a href="/community" aria-label="Community forums">one of our community forums</a> or open a GitHub issue.</p>
      
      <div class="featured-projects">
        <h2 class="is-paddingless level-left" aria-live="polite">Featured Projects</h2>
        <div class="project-list columns is-multiline">
          {% for repo in bag('repos.repos') %}
          {% if repo.featured %}
            <div class="column is-one-third">
              <article class="card entry-post vertical project-index">
                <div class="card-content">
                  <h4 class="card-title b-header"><a href="{{ repo.url }}" aria-label="View project {{ repo.english_name }}">{{ repo.english_name }}</a></h4>
                  <a class="button is-text tiny site-link" href="{{ repo.website or repo.url }}" aria-label="Visit the project's website">
                    <span>Visit site</span>
                    <i class="icon external-link"></i>
                  </a>
                  <div class="content">
                    <p>{{ repo.description }}</p>
                  </div>
                  <div class="labels">
                    {% for technology in repo.technologies %}
                      <button class="button tag" aria-label="Technology: {{ technology }}">{{ technology }}</button>
                    {% endfor %}
                  </div>
                  <div class="external-links">
                    <a class="button is-text tiny" href="{{ repo.url }}" aria-label="Visit the GitHub repository for {{ repo.english_name }}">
                      <i class="icon github"></i>
                      <span class="link-content">Github Repository</span>
                    </a>
                    {% if repo.slack %}
                      <br>
                      <a class="button is-text tiny" href="https://creativecommons.slack.com/channels/{{ repo.slack }}" aria-label="Visit the Slack channel for {{ repo.slack }}">
                        <i class="icon slack"></i>
                        <span class="link-content">Slack channel (#{{ repo.slack }})</span>
                      </a>
                    {% endif %}
                  </div>
                </div>
              </article>
            </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>

      <div class="active-project">
        <h2 id="all-active-projects" aria-live="polite">All Active Projects</h2>
        <p class="padding-vertical-big">This is a complete list of active Creative Commons software projects. Archived projects are not documented here and can be found on the <strong><a href="https://github.com/cc-archive" aria-label="Visit the CC Archive GitHub organization">CC Archive GitHub organization</a>.</strong></p>
        
        <div class="table-container">
          <table class="table is-bordered is-striped" aria-labelledby="all-active-projects">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Language</th>
                <th scope="col">License</th>
                <th scope="col">Links</th>
              </tr>
            </thead>
            <tbody>
              {% for repo in bag('repos.repos') %}
                <tr>
                  <td class="padding-vertical-normal padding-right-xl padding-left-normal">{{ loop.index }}</td>
                  <td class="padding-vertical-normal padding-right-xl padding-left-normal">
                    <div class="text-bigger has-text-weight-bold padding-bottom-smaller">
                      <a href="{{ repo.url }}" aria-label="View project {{ repo.name }}">{{ repo.name }}</a>
                    </div>
                  </td>
                  {% if repo.description %}
                    <td class="padding-vertical-normal padding-right-xl padding-left-normal">{{ repo.description }}</td>
                  {% else %}
                    <td class="padding-vertical-normal padding-right-xl padding-left-normal">No description available</td>
                  {% endif %}
                  <td class="padding-vertical-normal padding-right-xl padding-left-normal">
                    {% if repo.language %}{{ repo.language }}{% else %}Not specified{% endif %}
                  </td>
                  <td class="padding-vertical-normal padding-right-xl padding-left-normal">
                    {% if repo.license %}
                      <a href="{{ repo.license.url }}" class="is-block" aria-label="License information for {{ repo.name }}">{{ repo.license.name }}</a>
                    {% else %}
                      Not specified
                    {% endif %}
                  </td>
                  <td class="padding-vertical-normal padding-right-xl padding-left-normal">
                    {% if repo.website %}
                      <a href="{{ repo.website }}" class="is-block" aria-label="Visit the website for {{ repo.name }}"><i class="icon external-link padding-right-small"></i>Website</a>
                    {% endif %}
                    <a href="{{ repo.url }}" class="is-block" aria-label="Visit the GitHub repository for {{ repo.name }}"><i class="icon github padding-right-small"></i>Github</a>
                    {% if repo.slack %}
                      <a href="https://creativecommons.slack.com/channels/{{ repo.slack }}" class="is-block" aria-label="Visit the Slack channel for {{ repo.slack }}"><i class="icon slack padding-right-small"></i>Slack</a>
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
