{% extends "layout.html" %}

{% block title %}{{ this.title }}{% endblock %}

{% block body %}
  <header>
      <h1>Project List</h1>
      <p>This is a list of all active open source software projects that Creative Commons (CC) maintains.</p>
  </header>

  <p>Please read the <a href="/contributing-code">Contributing Code</a> page for general information on how to get involved. Contribution guidelines specific to an individual project can be found in the <code>README</code> and the <code>CONTRIBUTING</code> files in the root folder of every repository. If you have any questions, don't hesistate to reach out to us through <a href="/community">one of our community forums</a> or open a GitHub issue.</p>
   <article class="projects">
    <h2>Featured Projects</h2>
    <p>Explore our highlighted open source initiatives.</p>
    
    <ul>
      {% for repo in bag('repos.repos') %}
      {% if repo.featured %}
        <li>
          <article class="project">
            <h3><a href="{{ repo.url }}">{{ repo.english_name }}</a></h3>
            <p>{{ repo.description }}</p>
          </article>
        </li>
      {% endif %}
      {% endfor %}
    </ul>
  </article>

<!--
TODO: Consider whether to add additional data that current markup does not support:
- Technology tags
- Slack channel links 
- Website links
- GitHub specific links
--> 
  <article class="projects">
  <h2>All Active Projects</h2>
  <p>This is a complete list of active Creative Commons software projects. Archived projects are not documented here and can be found on the <strong><a href="https://github.com/cc-archive">CC Archive GitHub organization</a></strong>.</p>
  
  <ul>
    {% for repo in bag('repos.repos') %}
      <li>
        <article class="project">
          <h3><a href="{{ repo.url }}">{{ repo.name }}</a></h3>
          <p>{{ repo.description }}</p>
        </article>
      </li>
    {% endfor %}
  </ul>
</article>
{% endblock %}
