{% extends "layout.html" %}

{% block body %}
  <div class="project-ideas">
    <div class="title">
      <div class="container">
        <h1>Open Source Internships: Project Ideas</h1>
        <p class="description">This is the project idea list for the <span class="has-color-forest-green">current round of open source internships at Creative Commons.</span></p>
        {% set ideas = site.query('/internships/project-ideas-collection').include_undiscoverable(true) %}
        <div class="filter-labels">
          <button type="button" class="button tag filter-btn" data-filter="all">
            All Projects
          </button>
          <button type="button" class="button tag filter-btn" data-filter="difficulty-easy">
            Difficulty: Easy
          </button>
          <button type="button" class="button tag filter-btn" data-filter="difficulty-medium">
            Difficulty: Medium
          </button>
          <button type="button" class="button tag filter-btn" data-filter="difficulty-hard">
            Difficulty: Hard
          </button>
          <button type="button" class="button tag filter-btn" data-filter="skill-javascript">
            Skill: JavaScript
          </button>
          <button type="button" class="button tag filter-btn" data-filter="skill-python">
            Skill: Python
          </button>
          <button type="button" class="button tag filter-btn" data-filter="skill-wordpress">
            Skill: WordPress
          </button>
          <button type="button" class="button tag filter-btn" data-filter="skill-writing">
            Skill: Writing
          </button>
        </div>
        <div class="project-ideas columns is-multiline">
          {% for idea in ideas %}
          <div class="column is-one-quarter filter filter-label {{ idea.filter_value }}">
            <article class="card entry-post horizontal">
              <div class="card-content with-button">
                <h5 class="card-title"><a href="#{{ idea._slug }}">{{ idea.title }}</a></h5>
              </div>
            </article>
          </div>
          {% endfor %}
          <div class="column is-one-quarter">
            <article class="card entry-post horizontal">
              <div class="card-content with-button">
                <h5 class="card-title"><a href="#original-ideas">Original Ideas</a></h5>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
    <div class="body container">
      {% for idea in ideas %}
        <div class="project-idea">
          <h2><a class="has-color-dark-slate-gray" name="{{ idea._slug }}">{{ idea.title }}</a></h2>
          <div class="columns">
            <div class="column is-one-quarter">
              <h5 class="label">Difficulty</h5>
              <p class="content">{{ idea.difficulty }}</p>
              <h5 class="label">Skills recommended</h5>
              <p class="content">{{ idea.skills_recommended }}</p>
              <h5 class="label">Mentors</h5>
              <p class="content">{{ idea.mentors }}</p>
            </div>
            <div class="column is-three-quarters">
              <h5 class="label">The Problem</h5>
              <p class="content">{{ idea.problem }}</p>
              <h5 class="label">Expected Outcome</h5>
              <p class="content">{{ idea.expected_outcome }}</p>
              <h5 class="label">Internship Tasks</h5>
              <p class="content">{{ idea.internship_tasks }}</p>
              <h5 class="label">Application Tips</h5>
              <p class="content">{{ idea.application_tips }}</p>
              <h5 class="label">Resources</h5>
              <p class="content">{{ idea.resources }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
      <div>
        <h2 class="b-header"><a name="original-ideas" class="has-color-dark-slate-gray">Original Ideas</a></h2>
        <p class="content padding-top-small">We are open to original ideas for documentation improvements.</p>
        <p class="content padding-top-small">Please talk to us on the <code>#cc-gsoc-outreachy</code> channel on Slack or via the mailing list to find a mentor for the project before submitting your proposal.</p>
      </div>
    </div>
  </div>
{% endblock %}
