{% extends "layout.html" %}

{% block body %}
  <div class="project-ideas">
    <div class="title">
      <div class="container">
        <h1>Open Source Internships: Project Ideas</h1>
        <p class="description">This is the project idea list for the <span class="has-color-forest-green">current round of open source internships at Creative Commons.</span></p>
        {% set ideas = site.query('/internships/project-ideas-collection').include_undiscoverable(true) %}
        <div class="filter-labels" id="project-list">
          <button type="button" class="button tag filter-btn" data-filter="all">
            All Projects
          </button>
          <button type="button" class="button tag filter-btn" data-filter="difficulty-easy">
            Difficulty: Easy
          </button>
          <button type="button" class="button tag filter-btn" data-filter="difficulty-medium">
            Difficulty: Medium
          </button>
          <button type="button" class="button tag filter-btn" data-filter="difficulty-hard">
            Difficulty: Hard
          </button>
          <button type="button" class="button tag filter-btn" data-filter="skill-javascript">
            Skill: JavaScript
          </button>
          <button type="button" class="button tag filter-btn" data-filter="skill-python">
            Skill: Python
          </button>
          <button type="button" class="button tag filter-btn" data-filter="skill-wordpress">
            Skill: WordPress
          </button>
          <button type="button" class="button tag filter-btn" data-filter="skill-writing">
            Skill: Writing
          </button>
        </div>
        <div class="project-ideas columns is-multiline">
          {% for idea in ideas %}
          <div class="column is-one-quarter filter filter-label {{ idea.filter_value }}">
            <article class="card entry-post horizontal">
              <div class="card-content with-button">
                <h5 class="card-title"><a href="#{{ idea._slug }}">{{ idea.title }}</a></h5>
              </div>
            </article>
          </div>
          {% endfor %}
          <div class="column is-one-quarter">
            <article class="card entry-post horizontal">
              <div class="card-content with-button">
                <h5 class="card-title"><a href="#original-ideas">Original Ideas</a></h5>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
    <div class="body container content">
      {% for idea in ideas %}
        <div class="project-idea">
          <h2><a class="has-color-dark-slate-gray" name="{{ idea._slug }}">{{ idea.title }}</a></h2>
          <div class="columns">
            <div class="column is-one-quarter">
              <h5>Difficulty</h5>
              <p>{{ idea.difficulty }}</p>
              <h5>Skills recommended</h5>
              <p>{{ idea.skills_recommended }}</p>
              <h5>Mentors</h5>
              <p>{{ idea.mentors }}</p>
            </div>
            <div class="column is-three-quarters">
              <h5>The Problem</h5>
              <p>{{ idea.problem }}</p>
              <h5>Expected Outcome</h5>
              <p>{{ idea.expected_outcome }}</p>
              <h5>Internship Tasks</h5>
              <p>{{ idea.internship_tasks }}</p>
              <h5>Application Tips</h5>
              <p>{{ idea.application_tips }}</p>
              <h5>Resources</h5>
              <p>{{ idea.resources }}</p>
            </div>
          </div>
          <a href="#project-list" class="back-to-list"><i class="icon angle-up"></i> Back to the Project list</a>
        </div>
      {% endfor %}
      <div>
        <h2 class="b-header"><a name="original-ideas" class="has-color-dark-slate-gray">Original Ideas</a></h2>
        <p>We are open to original ideas for documentation improvements.</p>
        <p>Please talk to us on the <code>#cc-gsoc-outreachy</code> channel on Slack or via the mailing list to find a mentor for the project before submitting your proposal.</p>
        <a href="#project-list" class="back-to-list"><i class="icon angle-up"></i> Back to the Project list</a>
      </div>
    </div>
  </div>
{% endblock %}
