name: Building and Deploying to CC opensource site
on: [push]
jobs:
 build-and-deploy:
  runs-on: ubuntu-latest
  steps:
   - uses: actions/checkout@v1
   - name: setup python version
     uses: actions/setup-python@v1
     with:
      python-version: 3.7
   - name: Install dependencies
     run: |
      pip install pipenv
      pipenv install 
      pipenv run lektor server -f webpack
<<<<<<< HEAD
=======

>>>>>>> a50dfdbcce84c63e77c7f0ae81b0142033994d27
